---
layout: single
author_profile: true
title: ""
---

최근 작성한 것들 ✨

{%- comment -%}
{%- endcomment -%}
{% assign project_pages = site.pages | where_exp: "p", "p.categories contains 'projects'" %}

{%- for page in project_pages -%}
  {%- if page.date == nil -%}
    {%- assign page.date = '1970-01-01' | date: "%Y-%m-%d" -%}
  {%- endif -%}
{%- endfor -%}

{%- comment -%}
{%- endcomment -%}
{% assign insight_pages = site.insights %}

{%- comment -%}
{%- endcomment -%}
{% assign combined = project_pages | concat: insight_pages %}

{%- assign recent_pages = combined | sort: "date" | reverse -%}

<div class="entries-grid">
  {% for p in recent_pages limit:6 %}
  <article class="archive__item">
    <h2 class="archive__item-title">
      <a href="{{ p.url | relative_url }}">{{ p.title }}</a>
    </h2>
    {% if p.excerpt %}
      <p class="archive__item-excerpt">{{ p.excerpt }}</p>
    {% endif %}
  </article>
  {% endfor %}
</div>
